.profile {
  padding: 20px;
}

.user-info {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.username {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.logout-btn {
  margin-top: 20px;
  background-color: #ff4d4f;
  color: #fff;
}

.login-prompt {
  text-align: center;
  padding: 100px 0;
}

.login-btn {
  margin-top: 30px;
  background-color: var(--primary-color);
  color: #fff;
}
